.header {
    position: absolute;
    background: #fff;
    z-index: 10000;
    width: 100%;
    height: 1.1rem; // border-bottom: 2px solid #48b49c;
    .logo {
        display: inline-block;
        width: 2rem;
        height: 1rem;
        background: url('../img/logo.png') no-repeat;
        background-size: 2rem auto;
        margin-left: 10%;
        margin-top: .3rem;
    }
}

.container {
    padding-top: 1.2rem;
    position: absolute;
    width: 100%;
    height: 100%;
    background: url('../img/signbg.png') no-repeat right;
    background-size: cover;
}

.form {
    width: 100%;
    background-color: rgba(255, 255, 2555, .35); // border: 1px solid rgba(78, 194, 167, .35);
    margin: 0 auto;
    padding: .2rem;
    margin-top: .2rem;
    border-radius: .05rem;
    box-shadow: 0 2px 4px 0 rgba(112, 127, 208, 0.1);
    padding-top: .1rem;
    padding-bottom: .4rem;
    input {
        margin: 0 auto;
        display: block;
        width: 70%;
        height: .7rem;
        padding-left: .2rem;
        margin-top: .3rem;
        border: none;
        border-radius: 2px;
        border: 1px solid rgba(125, 125, 125, .4);
    }
    .gender {
        width: 70%;
        margin: 0 auto;
        input[type='radio'] {
            width: .3rem;
            height: .3rem;
            display: inline-block;
            margin: .2rem 0;
        }
    }
    .submit {
        color: rgba(255, 255, 255, .8);
        border-radius: 2px;
        font-size: .28rem;
        background: #48b49c;
        &:hover {
            background: #4ec2a7;
        }
    }
    .sign {
        font-size: .25rem;
        text-align: left;
    }
}

//